<?php
namespace GarnetDG\FileManager;

if (!defined('GARNETDG_FILEMANAGER2_VERSION')) {
	http_response_code(403);
	die();
}

$config['base_uri'] = null;
$config['index_page'] = 'index.php';
$config['database_file'] = '_database.sqlite3';
$config['log_file'] = '_log.txt';
$config['log_level'] = 6;
