.listing td {
	padding: .5em;
	padding-right: 2em;
}

.listing > tbody > tr > td.img {
	margin: 0px;
	padding: 4px;
	width: 24px;
	height: 24px;
}

.listing {
	white-space: nowrap;
}

.listing tbody tr:hover {
	background-color: #eee;
}

.listing a.disabled {
	text-decoration:underline;
	color: #666;
	/*pointer-events: none;*/
	cursor: pointer;
}

ul.head_hooks {
	list-style-type: none;
	text-align: right;
	width: 100%;
	background-color: #eee;
	/*padding: .25em 0px;*/
	margin: 0px;
}
ul.head_hooks li {
	/*display: inline-block;*/
	display: inline;
	padding: .25em .5em;
	margin: 0px;
}

/*ul.head_hooks li ul {
	display: none;
}
ul.head_hooks li:hover > ul,
ul.head_hooks li:active > ul {
	display: block;
	background-color: #eee;
}*/

ul.head_hooks > li:hover {
	background-color: #ddd;
}
/*ul.head_hooks li > ul > li:hover {
	background-color: #ccc;
}
ul.head_hooks li > ul > li > ul > li:hover {
	background-color: #bbb;
}*/
