.listing td {
	padding: .5em;
	padding-right: 2em;
}

.listing > tbody > tr > td:first-child {
	margin: 0px;
	padding: 4px;
	width: 24px;
	height: 24px;
}

.listing {
	white-space: nowrap;
}

.listing tbody tr:hover {
	background-color: #eee;
}

.listing a.disabled {
	text-decoration:underline;
	color: #666;
	/*pointer-events: none;*/
	cursor: pointer;
}
