header.header {
	background-color: white;
	z-index: 3;
	white-space: nowrap;
	overflow: hidden;
	border-bottom: 1px #999 solid;
}
nav.nav {
	background-color: white;
	z-index: 1;
	margin-bottom: .5em;
	padding-bottom: 0px;
	white-space: nowrap;
	overflow: auto;
	border-bottom: 1px #999 solid;
}
main.main {
	padding: 1%;
	z-index: 0;
}
footer.footer {
	background-color: white;
	z-index: 2;
}
header h1 {
	padding: .5rem;
	margin: 0px .5rem;
	font-size: 3rem;
	overflow-x: auto;
	overflow-y: hidden;
}

@media (min-width: 768px) {
	header.header {
		/*background-color: #fff;*/
		position: fixed;
		width: 100%;
		height: 5rem;
		top: 0px;
		margin:0px;
		clear: both;
	}
	nav.nav {
		/*background-color: #fff;*/
		position: fixed;
		width: 20%;
		top: 5rem;
		bottom: 2em;
		height: auto;
		float: left;
		border-right: 1px #999 solid;
		border-bottom: none;
		margin-bottom: 0px;
		padding: 0px;
	}
	main.main {
		/*background-color: #fff;*/
		margin-top: 5rem;
		margin-bottom: 3rem;
		padding: .5%;
		width: 79%;
		float: right;
	}
	footer.footer {
		/*background-color: #fff;*/
		position: fixed;
		bottom: 0px;
		height: 2em;
		width: 100%;
		clear: both;
	}
}
@media (min-width: 1025px) {
	nav.nav {
		width: 15%;
	}
	main.main {
		width: 84%;
	}
}
@media (min-width: 1920px) {
	nav.nav {
		width: 10%;
	}
	main.main {
		width: 89%;
	}
}

nav.nav > ul {
	padding-top: 1em;
	padding-left: 1em;
}
nav.nav li {
	padding-top: .25em;
	padding-bottom: .25em;
	padding-left: .25em;
}
nav.nav {
	padding: 0px;
}
/*nav li {
	list-style-type: none;
}*/
nav.nav li ul {
	display: none;
}
nav.nav li:hover > ul,
nav.nav li:active > ul {
	display: block;
	background-color: #eee;
}

@media (max-width: 767px) {
	nav.nav {
		overflow-x: auto;
	}
	nav.nav ul {
		list-style-type: none;
	}
	nav.nav > ul {
		padding-left: 0px;
		margin-bottom: 0px;
	}
	nav.nav li {
		padding-right: .25em;
	}
	nav.nav > ul > li {
		display: inline-block;
		vertical-align: top;
		padding-left: .5em;
		padding-right: .5em;
	}
	nav.nav > ul > li:hover > ul {
		margin-left: 0px;
	}
}

nav.nav > ul > li:hover {
	background-color: #eee;
}
nav.nav > ul > li > ul > li:hover {
	background-color: #ddd;
}
nav.nav > ul > li > ul > li > ul > li:hover {
	background-color: #ccc;
}

button,
input,
select,
textarea {
	vertical-align: top;
}

/* Pseudo-tables */
.table {
	display: table;
	border-collapse: collapse;
}
.table > * {
	display: table-row;
}
.table > * > * {
	display: table-cell;
	white-space: nowrap;
	padding: .5em .5em;
	margin: 0px;
}
.table > .thead {
	font-weight: bold;
	text-align: center;
	padding-bottom: .5em;
	border-bottom: #ddd 1px solid;
}
.table .th {
	font-weight: bold;
	text-align: center;
}
.table.striped > *:nth-of-type(odd) {
	background-color: #f7f7f7;
}
.table.hover > *:hover {
	background-color: #eeeeee;
}
.table.hover > .thead {
	background-color: #ffffff;
}


body {
	margin: 0px;
	padding: 0px;
}

table {
	border-collapse: collapse;
}

th, 
td {
	padding: .25em;
}

fieldset {
	border-top: 1px #808080 solid;
}
fieldset > legend {
	padding-right: .5em;
}

.overflow {
	overflow: auto;
}

label {
	margin-top: .5em;
}

hr {
	margin-top: 3rem;
	margin-bottom: 3rem;
}

h1{font-size:3rem;}
h2{font-size:2.7rem;}
h3{font-size:2.25rem;}
h4{font-size:1.8rem;}
h5{font-size:1.35rem;}
h6{font-size:1.125rem;}

footer {
	margin: 0px;
	border-top: 1px #999 solid;
}
footer > p {
	margin: 0px 10px;
	text-align: right;
	font-size: .75em;
	font-style: italic;
	color: #999;
}
