body {
	padding: 10px;
}

footer > hr {
	margin-top: 1em;
	margin-bottom: 0px;
	border: none;
	border-top: 1px #999 solid;
}
footer > p {
	margin: 0px;
	margin-top: .25em;
	text-align: right;
	font-size: 75%;
	font-style: italic;
	color: #999;
}

table {
	border-collapse: collapse;
}

th,
td {
	padding: .25em;
}
