/*input, 
button, 
textarea, 
select {
	margin: 0px 5px;
}

input[type="checkbox"], 
input[type="radio"] {
	min-width: 0px;
}*/

button,
input,
select,
textarea {
	vertical-align: top;
}

/* Pseudo-tables */
.table {
	display: table;
	border-collapse: collapse;
}
.table > * {
	display: table-row;
}
.table > * > * {
	display: table-cell;
	white-space: nowrap;
	padding: .5em .5em;
	margin: 0px;
}
.table > .thead {
	font-weight: bold;
	text-align: center;
	padding-bottom: .5em;
	border-bottom: #ddd 1px solid;
}
.table.striped > *:nth-of-type(odd) {
	background-color: #f7f7f7;
}
.table.hover > *:hover {
	background-color: #eeeeee;
}
.table.hover > .thead {
	background-color: #ffffff;
}


body {
	margin: 0px;
	padding: 0px;
}

footer > hr {
	margin-top: 1em;
	margin-bottom: .5em;
	border: none;
	border-top: 1px #999 solid;
}
footer > p {
	margin: 0px 10px;
	text-align: right;
	font-size: 75%;
	font-style: italic;
	color: #999;
}

table {
	border-collapse: collapse;
}

th, 
td {
	padding: .25em;
}

fieldset {
	border-top: 1px #808080 solid;
}
fieldset > legend {
	padding-right: .5em;
}

.overflow {
	overflow: auto;
}

label {
	margin-top: .5em;
}

hr {
	margin-top: 3rem;
	margin-bottom: 3rem;
}
