.listing {
	white-space: nowrap;
	margin: 0;
	width: 100%;
}

.listing tr {
	border-bottom: #ccc 1px solid;
}

.listing th,
.listing td {
	padding: .75em;
	padding-left: .25em;
	padding-right: 2em;
}

.listing th {
	text-align: left;
}

.listing > thead > tr > th {
	padding-bottom: .5em;
}

.listing > thead > tr > th a {
	text-decoration: none;
}

.listing > tbody > tr > td.img {
	margin: 0;
	padding: 4px;
	width: 24px;
	height: 24px;
}

.listing tbody tr {
	background-color: #fff;
	transition: background-color 0.25s ease;
}
.listing tbody tr:hover {
	background-color: #eee;
}

.listing a.disabled {
	text-decoration:underline;
	color: #666;
	/*pointer-events: none;*/
	cursor: pointer;
}



ul.head_hooks {
	font-weight: bold;
	list-style-type: none;
	text-align: right;
	width: 100%;
	background-color: #eee;
	margin: 0;
	overflow-x: auto;
	overflow-y: hidden;
	margin-bottom: .5em;
	padding: 0;
}
ul.head_hooks li {
	/*display: inline-block;*/
	display: inline;
	padding: .25em .5em;
	margin: 0;
	vertical-align: middle;
}
ul.head_hooks * {
	vertical-align: middle;
}

/*ul.head_hooks > li {
	background-color: inherit;
	transition: background-color 0.25s ease;
}

ul.head_hooks > li:hover {
	background-color: #ddd;
}*/

ul.path {
	list-style-type: none;
	box-shadow: 0 0 2px 0 #999;
	border-radius: 4px;
	padding: .25em 0;
	width: 100%;
	margin: 0;
	margin-bottom: .5em;
	overflow-x: auto;
	overflow-y: hidden;
}
ul.path > li {
	display: inline;
	margin: 0;
	padding: .25em .5em;
	transition: background-color ease 0.25s;
}
ul.path > li:hover {
	background-color: #eee;
}

@media (prefers-color-scheme: dark) {
	.listing tr {
		border-bottom: #666 1px solid;
	}

	.listing tbody tr {
		background-color: #333;
	}
	.listing tbody tr:hover {
		background-color: #444;
	}

	ul.head_hooks {
		background-color: #333;
	}

	ul.path > li:hover {
		background-color: #666;
	}
}
