.listing td {
	padding: .5em;
	padding-right: 2em;
}

.listing > tbody > tr > td.img {
	margin: 0px;
	padding: 4px;
	width: 24px;
	height: 24px;
}

.listing {
	white-space: nowrap;
	margin: 0px;
}

.listing tbody tr {
	background-color: #fff;
	transition: background-color 0.25s ease;
}
.listing tbody tr:hover {
	background-color: #eee;
	background-color: #ddd;
}

.listing a.disabled {
	text-decoration:underline;
	color: #666;
	/*pointer-events: none;*/
	cursor: pointer;
}

ul.head_hooks {
	font-weight: bold;
	list-style-type: none;
	text-align: right;
	width: 100%;
	background-color: #eee;
	margin: 0px;
	overflow-x: auto;
	overflow-y: hidden;
	margin-bottom: .5em;
}
ul.head_hooks li {
	/*display: inline-block;*/
	display: inline;
	padding: .25em .5em;
	margin: 0px;
	vertical-align: middle;
}

/*ul.head_hooks > li {
	background-color: inherit;
	transition: background-color 0.25s ease;
}

ul.head_hooks > li:hover {
	background-color: #ddd;
}*/

ul.path {
	list-style-type: none;
	border: 1px #ccc solid;
	border-radius: 4px;
	padding: 0px;
	width: 100%;
	margin: 0px;
	margin-bottom: .5em;
	overflow-x: auto;
	overflow-y: hidden;
}
ul.path > li {
	display: inline;
	margin: 0px;
	padding: 0px .5em;
	transition: background-color ease 0.25s;
	font-weight: bold;
}
ul.path > li:hover {
	background-color: #eee;
}
