header.header {
	background-color: #fff;
	z-index: 4;
	white-space: nowrap;
	overflow-x: auto;
	overflow-y: hidden;
	margin: 0;
	padding: 0;
	border-bottom: #ccc 1px solid;
}
nav.nav {
	background-color: #fff;
	z-index: 2;
	white-space: nowrap;
	overflow: auto;
	border-bottom: #ccc 1px solid;
}
main.main {
	padding: 1%;
	padding-top: 2%;
	z-index: 1;
	margin-bottom: .5rem;
}
footer.footer {
	background-color: #fff;
	z-index: 3;
	border-top: #ccc 1px solid;
}
@media (min-width: 768px) {
	header.header {
		position: fixed;
		width: 100%;
		height: 3rem;
		top: 0;
		margin: 0;
		border: none;
		box-shadow: 0 0 3px 0 #333;
	}
	nav.nav {
		position: fixed;
		width: 20%;
		top: 3rem;
		bottom: 2em;
		height: auto;
		float: left;
		border-bottom: none;
		margin-bottom: 0;
		padding: 0;
		border: none;
		box-shadow: 0 0 3px 0 #333;
	}
	main.main {
		margin-top: 3rem;
		margin-bottom: 3rem;
		padding: .5%;
		width: 79%;
		float: right;
	}
	footer.footer {
		position: fixed;
		bottom: 0;
		height: 2em;
		width: 100%;
		border: none;
		box-shadow: 0 0 3px 0 #333;
	}
}
@media (min-width: 1025px) {
	nav.nav {
		width: 15%;
	}
	main.main {
		width: 84%;
	}
}
@media (min-width: 1920px) {
	nav.nav {
		width: 10%;
	}
	main.main {
		width: 89%;
	}
}

/******************** Header ********************/
header.header h1 {
	padding: .5rem;
	margin: 0 .5rem;
	font-size: 150%;
	font-weight: normal;
	vertical-align: middle;
}

/******************** Nav ********************/
nav.nav ul {
	padding-top: 1em;
	padding-left: 0;
	margin: 0;
}

nav.nav > ul {
	padding-top: 0;
	margin: .5em 0;
}

nav.nav li {
	padding: 1em;
	padding-right: 0;
}

nav.nav {
	padding: 0;
}

nav li {
	list-style-type: none;
}

nav.nav li ul {
	display: none;
}

nav.nav li:hover > ul,
nav.nav li:active > ul {
	display: block;
}

@media (max-width: 767px) {
	nav.nav {
		overflow-x: auto;
		padding-bottom: .5em;
	}
	nav.nav > ul {
		padding-left: 0;
		margin-bottom: 0;
	}
	nav.nav li {
		padding: .5em;
	}
	nav.nav > ul > li {
		display: inline-block;
		vertical-align: top;
		padding-left: .5em;
		padding-right: .5em;
	}
	nav.nav > ul > li:hover > ul {
		margin-left: 0;
	}
}

nav.nav > ul > li {
	background-color: #fff;
	transition: background-color 0.1s ease;
}

nav.nav > ul > li:hover {
	background-color: #eee;
}

nav.nav > ul > li > ul > li:hover {
	transition: background-color 0.1s ease;
	background-color: #ddd;
}

nav.nav > ul > li > ul > li > ul > li:hover {
	transition: background-color 0.1s ease;
	background-color: #ccc;
}


/******************** Footer ********************/
/*footer.footer {
	margin: 0;
}*/

footer.footer > p {
	margin: .5em .5em;
	text-align: right;
	font-size: .75em;
	font-style: italic;
	color: #999;
}

@media (prefers-color-scheme: dark) {
	header.header {
		background-color: #333;
		border-bottom: #666 1px solid;
	}
	nav.nav {
		background-color: #333;
		border-bottom: #666 1px solid;
	}
	footer.footer {
		background-color: #333;
		border-top: #666 1px solid;
	}
}
@media (prefers-color-scheme: dark) and (min-width: 768px) {
	header.header {
		box-shadow: 0 0 3px 0 #666;
	}
	nav.nav {
		box-shadow: 0 0 3px 0 #666;
	}
	footer.footer {
		box-shadow: 0 0 3px 0 #666;
	}
}
@media (prefers-color-scheme: dark) {
	nav.nav > ul > li {
		background-color: #333;
	}
	nav.nav > ul > li:hover {
		background-color: #444;
	}
	nav.nav > ul > li > ul > li:hover {
		background-color: #555;
	}
	nav.nav > ul > li > ul > li > ul > li:hover {
		background-color: #666;
	}
}
