body {
	background-color: #fff;
	color: #333;
	font-family: sans-serif;
}

a,
a:visited {
	color: #09f;
	transition: color 0.25s ease;
}
a:hover,
a:active {
	color: #0cf;
}

table {
	border-collapse: collapse;
}

fieldset {
	border: 1px #ccc solid;
	padding: 1em 1.5em;
	border-radius: 5px;
	margin: 0px;
	margin-bottom: 1em;
}

fieldset>legend {
	margin-left: -.5em;
	padding-left: .5em;
	padding-right: .5em;
	margin-bottom: 0px;
}

code {
	background-color: #eee;
	border: #ddd 1px solid;
	border-radius: 4px;
}

ul > li {
	margin: .25em 0;
}


table.border th,
table.border td {
	border: #999 1px solid;
	padding: .5em;
}

.overflow {
	overflow: auto;
}
.center {
	text-align: center;
}
