.listing td {
	padding: .5em;
	padding-right: 2em;
}

.listing > tbody > tr > td.img {
	margin: 0px;
	padding: 4px;
	width: 24px;
	height: 24px;
}

.listing {
	white-space: nowrap;
}

.listing tbody tr {
	background-color: #fff;
	transition: background-color 0.1s ease-in-out;
}
.listing tbody tr:hover {
	background-color: #eee;
}

.listing a.disabled {
	text-decoration:underline;
	color: #666;
	/*pointer-events: none;*/
	cursor: pointer;
}

ul.head_hooks {
	font-weight: bold;
	list-style-type: none;
	text-align: right;
	width: 100%;
	background-color: #eee;
	margin: 0px;
	overflow-x: auto;
	overflow-y: hidden;
}
ul.head_hooks li {
	/*display: inline-block;*/
	display: inline;
	padding: .25em .5em;
	margin: 0px;
}

/*ul.head_hooks > li:hover {
	background-color: #ddd;
}*/
